# Ignore everything on scratch by default, except the provided examples
/*
!.gitignore
!common.h
!nested-subdir/
!subdir/
!scratch-simulator.cc
!CMakeLists.txt

# Allow committing scratch configs
!config/
!config/*.txt